<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Atarashii MAL API - {{ pageTitle }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>

    <body role="document">

        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('_homepage') }}">Atarashii MAL API</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{{ app.request.attributes.get('_route') == '_homepage' ? 'active' }}"><a href="{{ path('_homepage') }}">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="{{ app.request.attributes.get('_route') == '_docs_index' ? 'active' }} dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('_docs_index') }}">Overview</a></li>
                                <li><a href="{{ path('_docs_responses') }}">Data Response Formats</a></li>
                                <li><a href="{{ path('_docs_anime') }}">Anime Methods</a></li>
                                <li><a href="{{ path('_docs_manga') }}">Manga Methods</a></li>
                                <li><a href="{{ path('_docs_user') }}">User and Account Methods</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container" role="main">
