{% set pageTitle = "Docs" %}
{% include "AtarashiiAPIBundle:includes:header.html.twig" %}

<h1>API Documentation</h1>
<p>The MyAnimeList Unofficial API allows developers to interact with the <a href="http://myanimelist.net/">MyAnimeList</a> site programmatically via HTTP requests. It tries to remain as close to REST principles as possible.</p>

<p>Select a section from the menu above to view details.</p>

{% include "AtarashiiAPIBundle:includes:footer.html.twig" %}