{% set pageTitle = "Docs - Manga Methods" %}
{% include "AtarashiiAPIBundle:includes:header.html.twig" %}

<div class="row">
  <div class="col-md-9">
    <h1>Manga Methods</h1>
    <p>All the below methods deal with reading and writing data related to manga. This includes managing a user's list.</p>


    <h2>Methods to Get Information</h2>

    <h3>Reading the Manga List</h3>
    <dl>
      <dt>URI Format</dt><dd>mangalist/<em>username</em></dd>
      <dt>Method</dt><dd>GET</dd>
      <dt>Authentication</dt><dd>No</dd>
    </dl>
    <p>Retrieves the list of a user's manga. Output is a <a href="{{ path('_docs_responses') }}#mangalist">manga list</a>.</p>

    <h3>Manga Details</h3>
    <dl>
      <dt>URI Format</dt><dd>manga/<em>id</em></dd>
      <dt>Method</dt><dd>GET</dd>
      <dt>Authentication</dt><dd>Optional<sup><a href="#foot1">1</a></sup></dd>
    </dl>
    <p>Gets the details of the title specified by the id number. Output is a <a href="{{ path('_docs_responses') }}#manga">manga object</a>.</p>


    <h2>Methods to Change Information</h2>

    <p class="alert alert-info">All post data <strong>must</strong> be sent as x-www-form-urlencoded as the API does not currently support multipart/form-data!</p>

    <h3>Adding Manga</h3>
    <dl>
      <dt>URI Format</dt><dd>mangalist/manga</dd>
      <dt>Method</dt><dd>POST</dd>
      <dt>Authentication</dt><dd>Required</dd>
    </dl>
    <p>Adds a manga to the authenticated user's list with the details provided in the post body. Output is blank.</p>
    <p>The values that can be sent in the post body:</p>
    <ul>
      <li><code>manga_id</code>: The ID of the manga, as assigned by MyAnimeList</li>
      <li><code>status</code>: An integer or specific string indicating the current status of the title for the user. Allowed values are 1/"reading", 2/"completed", 3/"on-hold"/"onhold", 4/"dropped", 6/"plan to read"/"plantoread".</li>
      <li><code>chapters</code>: The number of the last chapter read by the user.</li>
      <li><code>volumes</code>: The number of the last volume read by the user.</li>
      <li><code>score</code>: An integer, from 1 to 10 indicating the user's score of the title.</li>
    </ul>

    <h3>Updating a Manga</h3>
    <dl>
      <dt>URI Format</dt><dd>mangalist/manga/<em>id</em></dd>
      <dt>Method</dt><dd>PUT</dd>
      <dt>Authentication</dt><dd>Required</dd>
    </dl>
    <p>Updates the status of a manga on the authenticated user's list with the details provided in the post body. The manga must already exist in the user's list. The id in the URL should be the id as assigned by MyAnimeList. Output is blank.</p>
    <p>The values that can be sent in the post body:</p>
    <ul>
      <li><code>status</code>: An integer or specific string indicating the current status of the title for the user. Allowed values are 1/"reading", 2/"completed", 3/"on-hold"/"onhold", 4/"dropped", 6/"plan to read"/"plantoread".</li>
      <li><code>chapters</code>: The number of the last chapter read by the user.</li>
      <li><code>volumes</code>: The number of the last volume read by the user.</li>
      <li><code>score</code>: An integer, from 1 to 10 indicating the user's score of the title.</li>
    </ul>

    <h3>Deleting a Manga</h3>
    <dl>
      <dt>URI Format</dt><dd>mangalist/manga/<em>id</em></dd>
      <dt>Method</dt><dd>DELETE</dd>
      <dt>Authentication</dt><dd>Required</dd>
    </dl>
    <p>Deletes a manga from the authenticated user's list. The id in the URL should be the id as assigned by MyAnimeList. Output is blank.</p>


    <h2>Searches and Global Lists</h2>

    <h3>Searching for a Manga</h3>
    <dl>
      <dt>URI Format</dt><dd>manga/search?q=<em>search_terms</em></dd>
      <dt>Method</dt><dd>GET</dd>
      <dt>Authentication</dt><dd>No</dd>
    </dl>
    <p>Runs a search of the title against manga on MAL. Output is a <a href="{{ path('_docs_responses') }}#mangalist">manga list</a>.</p>

    <h3>Top Ranking Manga</h3>
    <dl>
      <dt>URI Format</dt><dd>manga/top</dd>
      <dt>Method</dt><dd>GET</dd>
      <dt>Authentication</dt><dd>No</dd>
    </dl>
    <p>Returns the top-rated manga titles on MAL. Output is a <a href="{{ path('_docs_responses') }}#mangalist">manga list</a>.</p>
    <p>The following optional parameters are supported:</p>
    <ul>
      <li><code>page</code>: The current set of titles to return. Each set contains at most 30 items. Default value is &quot;1&quot; if not supplied.</li>
      <li><code>type</code>: Filters to a specific type of title to return. Can be one of &quot;&quot;manga&quot;, &quot;novels&quot;, &quot;oneshots&quot;, &quot;doujin&quot;, &quot;manwha&quot;, &quot;manhua&quot;, or &quot;oels&quot;. Default is no filter.</li>
    </ul>

    <h3>Popular Manga</h3>
    <dl>
      <dt>URI Format</dt><dd>manga/popular</dd>
      <dt>Method</dt><dd>GET</dd>
      <dt>Authentication</dt><dd>No</dd>
    </dl>
    <p>Returns the most popular titles on MAL. Output is a <a href="{{ path('_docs_responses') }}#mangalist">manga list</a>.</p>
    <p>The following optional parameters are supported:</p>
    <ul>
      <li><code>page</code>: The current set of titles to return. Each set contains at most 30 items. Default value is &quot;1&quot; if not supplied.</li>
    </ul>

    <h3>Upcoming Manga</h3>
    <dl>
      <dt>URI Format</dt><dd>manga/upcoming</dd>
      <dt>Method</dt><dd>GET</dd>
      <dt>Authentication</dt><dd>No</dd>
    </dl>
    <p>Returns upcoming titles on MAL, sorted by publication date. Output is a <a href="{{ path('_docs_responses') }}#mangalist">manga list</a>.</p>
    <p>The following optional parameters are supported:</p>
    <ul>
      <li><code>start_date</code>: The date at which to start the list, formatted as YYYYMMDD. The date may be in the past. Default is the current date.</li>
      <li><code>page</code>: The current set of titles to return. Each set contains at most 20 items. Default value is &quot;1&quot; if not supplied.</li>
    </ul>

    <h3>Manga Just Added</h3>
    <dl>
      <dt>URI Format</dt><dd>manga/just_added</dd>
      <dt>Method</dt><dd>GET</dd>
      <dt>Authentication</dt><dd>No</dd>
    </dl>
    <p>Returns the most recently added titles on MAL, ordered by the most recently added items. Output is a <a href="{{ path('_docs_responses') }}#mangalist">manga list</a>.</p>
    <p>The following optional parameters are supported:</p>
    <ul>
      <li><code>page</code>: The current set of titles to return. Each set contains at most 20 items. Default value is &quot;1&quot; if not supplied.</li>
    </ul>

    <hr>

    <p>Footnotes</p>
    <ol>
      <li><a name="foot1"></a>Although authentication is not required, additional information such as list status details can be provided if authentication is made.</li>
    </ol>
  </div>
</div>


{% include "AtarashiiAPIBundle:includes:footer.html.twig" %}